<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div class="giscus"></div>
      </div>      
    </main>

    {%- include footer.html -%}
    

    <script defer src="/assets/static/highlight.min.js" onload="hljs.initHighlightingOnLoad();"></script>
    <script defer src="/assets/static/page.js"></script>
    <a title="Google Analytics Alternative" href="https://clicky.com/101360387"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script async src="//static.getclicky.com/101360387.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101360387ns.gif" /></p></noscript>
  </body>

</html>
